<section class="cars">
    <h2 class="cars__title">Власний парк будівельної техніки:</h2>
    <div class="cars__container">
      <div class="cars__container__item-1">
          Мулосмоктальна машина 
          <span > КАМАЗ 65115 КО-530-01 </span>        
      </div>
      <div class="cars__container__item-2">
        
          Каналопромивальна машина
          <span > КАМАЗ 3572 КО-564-20</span>
        
      </div>
      <div class="cars__container__item-3">Ескаватор-навантажувач</div>
      <div class="cars__container__item-4">КАМАЗ бортовий з КМУ</div>
      <div class="cars__container__item-5">Навантажувач</div>
      <div class="cars__container__item-6">Екскаватор</div>
      <div class="cars__container__item-7">Каток</div>
    </div>
  </section>