<section class="customers">
    <div class="customers__header">
      <h2 class="customers__header__title">Наші клієнти та проекти</h2>
      <a class="customers__header__projects" href="#">Усі проекти</a>
    </div>
    <div class="customers__container">
      <div class="customers__container__item-1 item">
        <img src="./images/image1.png" alt="logo-EID" />
      </div>
      <div class="customers__container__item-2 item">
        <img src="./images/image3.png" alt="" />
        <img src="./images/image6.png" alt="" />
        <p>
            Роботи з монтажу прифундаментного дренажу за адресою:
          Україна, Киів, пр. Перемоги, б. 87
        </p>
      </div>
      <div class="customers__container__item-3 item">
        <img src="./images/image6.png" alt="" />
      </div>
      <div class="customers__container__item-4 item">
        <img src="./images/image3.png" alt="" />
        <img src="./images/image1.png" alt="" />
      </div>
      <div class="customers__container__item-5 item">
        <img src="./images/SetiGroup.png" alt="" />
      </div>
      <div class="customers__container__item-6 item">
        <img src="./images/image1.png" alt="" />
      </div>
    </div>
  </section>