<header class="header">
    <a class="header__logo" href="#"><img
        class="header__logo-img"
        src="./images/infrastructure.png"
        alt="infrastucture"
      /></a>
  
  <a class="header__callback" href="tel:#"
    ><img
      class="header__callback-img"
      src="./images/VectorPhone.png"
      alt="phone"
    />Зворотній зв’язок</a
  >
</header>