<section class="networks">
    <h2 class="networks__title"> Зовнішні теплові мережі</h2>
    <p class="networks__title-text">
      Будівельна компанія "Інфраструктура" здійснює повний перелік робіт з монтажу зовнішніх теплових мереж та індивідуальних теплових пунктів на житлових та промислових об'єктах:
    </p>
    <div class="networks__container">
      <div class="networks__container__item-1  item">Земляні роботи</div>
      <div class="networks__container__item-2 item">
        Підземне прокладання трубопроводів та введення в будівлю
      </div>
      <div class="networks__container__item-3 item">Влаштування каналів</div>
      <div class="networks__container__item-4 item">
        Влаштування нерухомих опор поза камерами
      </div>
      <div class="networks__container__item-5 item">Пристрій з/б колодязів</div>
    </div>
  </section>