@mixin flex-container($fd:row, $jc:center ){
    display: flex;
    align-items: center;
justify-content: $jc;
flex-direction: $fd;
}

@mixin section-title {
    font-weight: 700;
    font-size: 50px;
}