@import "mixins";

.cars{
  
    &__title{
      @include section-title;
    margin-bottom: 94px;
    }
   
    &__container{
        display: grid;       
        grid-template-columns: repeat(3, 467px);
        grid-template-rows: 255px 32px 130px 104px 277px;
        gap: 25px;
        font-size: 20px;
        margin-bottom: 192px;
        & *{
            cursor: pointer;
        }
        &__item-1{
            background-color: rgba(14, 14, 14, 1);
            grid-row: span 2;
            padding: 44px 0 0 52px;
            display: flex;
            flex-direction: column;            
        }
        &__item-2{
           background-color:  rgba(36, 36, 36, 1);
           grid-row: span 3;
           padding: 44px 0 0 52px;
            display: flex;
            flex-direction: column;
        }
        &__item-3{
            background-color: rgba(31, 31, 31, 1);
            padding: 44px 0 0 48px;
        }
        &__item-4{
            background-color: rgba(14, 14, 14, 1);
            grid-row: span 3;
            padding: 44px 0 0 48px;
        }
        &__item-5{
            background-color: rgba(31, 31, 31, 1);
            grid-row: span 3;
            padding: 56px 0 0 52px;
        }
        &__item-6{
            background-color: rgba(228, 181, 100, 1);
            grid-row: span 2;
            padding: 47px 0 0 52px;
        }
        &__item-7{
            background-color: rgba(10, 9, 9, 1);
            padding: 44px 0 0 48px;
        }
    }
}
