@import 'mixins';

.customers{

@include flex-container(column, center);
background-color:  #0E0E0E;
padding-top: 172px;
width: 100%;

&__header{
    width: 1460px;
    @include flex-container (row, space-between);
    &__title{
      @include section-title;
    }
    &__projects{
        width: 180px;
    height: 50px;
    text-decoration: none;
    color: #e4b564;
    border: 0.5px solid #e4b564;
    display: flex;
    justify-content: center;
    align-items: center;

    }
}
&__container{
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
    margin-top: 71px;
&__item-1{
background-color: rgba(99, 79, 44, 1);
}
&__item-2{
    background-color: rgba(232, 210, 171, 0.76);
}
&__item-3{
    background-color: rgba(228, 181, 100, 1);
}
&__item-4{
    background-color: rgba(99, 90, 74, 1);
}
&__item-5{
    background-color: rgba(176, 140, 77, 1);
}
&__item-6{
    background-color: rgba(99, 79, 44, 1);
}
}
}