@import "mixins";

.header{
    
   width: 1460px;
    display: flex;
    justify-content: space-between;
    
    
    &__callback{
        box-sizing: border-box;
        width: 218px;
        height: 50px;
        border: 1px solid #e4b564;
        font-size: 18px;
        color: #e4b564;
        text-decoration: none;
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}