// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import "mixins";

body{
    width: 100vw;
    background-color: #171717;
    padding: 37px 0 238px;    
    color: #FFF;
    font-family: 'Gilam', sans-serif;
    @include flex-container(column, center);
}
main{
    width: 100%;
    @include flex-container(column, center);
}


@import "header";
@import "networks";
@import "cars";
@import "customers";
