@import "mixins";

.networks{
    
    margin: 89px 0 161px;
    &__title{
       @include section-title;
        margin-bottom: 43px;

    }
    &__title-text{
        font-size: 20px;
        width: 1182px;
        line-height: 28px;
    font-weight: 700;
    padding-bottom: 41px;
    }
    &__container{
        display: grid;
    grid-template-columns: 467px 219px 219px 467px;
    grid-template-rows: repeat(2, 468px);
    grid-gap: 30px;
    &__item-1{
   background-color: rgba(99, 79, 44, 1);

    }
    &__item-2{
        background-color: rgba(180, 163, 133, 1);
        grid-column: span 2;
    }
    &__item-3{
background-color: rgba(228, 181, 100, 1);
    }
    &__item-4{
        background-color: rgba(99, 90, 74, 1);
        grid-column: span 2;
    }
    &__item-5{
        background-color: rgba(176, 140, 77, 1);
        grid-column: span 2; 
    }
    }
}
.item {
  @include flex-container(column);
  text-align: center;
  gap: 9px;
    padding: 0 44px;
    font-size: 20px;
    font-weight: 700;
line-height: 28px;
cursor: pointer;
}